body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 350px 200px 350px 200px ;

}

#obapp{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#obapp form{
    height: 100%;
    width:  100%;
    background-color: #000;
}

#obapp input[type=textfield] {
    width: 90%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

#obapp input[type=button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #000;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%
}

#obapp .orange{
    background-color: rgb(253,149,3) !important;
    color: white !important;
}

#obapp .gray{
    background-color: rgb(51, 51, 51) !important;
    color: white !important;

}

